In [41]:
%matplotlib inline

In [42]:
import pandas as pd
import bqplot
import numpy as np
import traitlets
import ipywidgets
%matplotlib inline

In [43]:
dogs = pd.read_csv("/Users/erikaweir/Downloads/NYC_Dog_Licensing_Dataset.csv")

In [44]:
dogs

,RowNumber,AnimalName,AnimalGender,AnimalBirthMonth,BreedName,Borough,ZipCode,CommunityDistrict,CensusTract2010,NTA,CityCouncilDistrict,CongressionalDistrict,StateSenatorialDistrict,LicenseIssuedDate,LicenseExpiredDate
0,69143,SNICKERS,F,1/1/05 0:00,Dachshund Smooth Coat Miniature,Queens,11692.0,414.0,94203.0,QN12,32.0,5.0,15.0,4/29/16,3/29/17
1,4081,LEO,M,2/1/11 0:00,Bichon Frise,Queens,11106.0,401.0,47.0,QN70,26.0,12.0,12.0,1/26/15,2/22/16
2,32032,OLIVE,F,3/1/11 0:00,Unknown,Queens,11102.0,401.0,83.0,QN71,22.0,12.0,12.0,9/6/15,10/2/17
3,47466,LEO,M,2/1/11 0:00,Bichon Frise,Queens,11106.0,401.0,47.0,QN70,26.0,12.0,12.0,1/14/16,2/22/17
4,52611,ALASKA,F,5/1/15 0:00,American Eskimo dog,Queens,11102.0,401.0,125.0,QN72,22.0,14.0,12.0,2/12/16,2/12/17
5,76930,GIZMO,M,5/1/13 0:00,Chihuahua,Queens,11103.0,401.0,6502.0,QN70,22.0,12.0,12.0,6/1/16,1/26/17
6,58815,STARR,F,9/1/09 0:00,Chihuahua,Bronx,11231.0,306.0,75.0,BK33,39.0,7.0,26.0,3/15/16,2/25/17
7,108423,COCO,F,6/1/12 0:00,Jack Russell Terrier,Queens,11364.0,411.0,129104.0,QN42,23.0,6.0,11.0,10/13/16,11/27/17
8,63667,PATRON,M,5/1/11 0:00,Unknown,Queens,11694.0,414.0,928.0,QN10,32.0,5.0,15.0,4/6/16,2/9/17
9,100710,LOGAN,M,2/1/09 0:00,American Pit Bull Mix / Pit Bull Mix,Queens,11435.0,408.0,214.0,QN35,24.0,6.0,14.0,9/8/16,9/1/17
10,100711,LOGAN,M,2/1/09 0:00,American Pit Bull Mix / Pit Bull Mix,Queens,11435.0,408.0,214.0,QN35,24.0,6.0,14.0,9/8/16,9/1/18
11,57312,CJ,M,5/1/14 0:00,American Pit Bull Mix / Pit Bull Mix,Bronx,11422.0,413.0,664.0,QN05,31.0,5.0,10.0,3/7/16,3/7/17
12,14898,SUZZY,F,1/1/15 0:00,Unknown,Bronx,11356.0,407.0,919.0,QN23,19.0,14.0,11.0,4/27/15,4/27/16
13,47601,BUDDY,M,6/1/11 0:00,Unknown,Bronx,11379.0,405.0,659.0,QN21,30.0,6.0,15.0,1/14/16,2/16/17
14,49507,KIM,F,3/1/07 0:00,Rottweiler,Bronx,11206.0,301.0,503.0,BK90,34.0,7.0,18.0,1/27/16,12/27/16
15,107024,OREO,M,1/1/00 0:00,Shih Tzu,Bronx,11206.0,301.0,485.0,BK78,34.0,7.0,18.0,10/5/16,9/29/17
16,116665,BRUNO,M,11/1/13 0:00,American Pit Bull Mix / Pit Bull Mix,Bronx,11237.0,304.0,409.0,BK77,37.0,7.0,18.0,11/27/16,11/27/17
17,2126,FLIP,M,12/1/05 0:00,Shih Tzu,Bronx,11239.0,305.0,105801.0,BK93,42.0,8.0,19.0,1/3/15,1/3/16
18,8120,NAME NOT PROVIDED,M,10/1/14 0:00,Unknown,Bronx,11212.0,316.0,896.0,BK81,42.0,9.0,19.0,3/5/15,3/5/16
19,40685,NAME NOT PROVIDED,F,7/1/12 0:00,Yorkshire Terrier,Bronx,11236.0,316.0,922.0,BK81,42.0,8.0,19.0,11/23/15,10/26/16
20,59227,DIAMOND,F,1/1/12 0:00,Yorkshire Terrier,Bronx,11207.0,305.0,1078.0,BK82,42.0,8.0,19.0,3/16/16,3/16/17
21,5230,NAME NOT PROVIDED,F,9/1/14 0:00,Chihuahua,Bronx,11209.0,310.0,54.0,BK31,43.0,11.0,22.0,2/6/15,2/6/16
22,111241,UNKNOWN,M,7/1/16 0:00,Yorkshire Terrier Crossbreed,Bronx,10301.0,501.0,7.0,SI22,49.0,11.0,23.0,10/27/16,10/27/17
23,37585,SAMANTHA,F,1/1/04 0:00,Unknown,Bronx,10306.0,503.0,12805.0,SI25,50.0,11.0,24.0,10/26/15,10/30/16
24,109601,KYRA,F,1/1/05 0:00,Unknown,Bronx,10306.0,503.0,12805.0,SI25,50.0,11.0,24.0,10/19/16,11/29/17
25,105166,JACOB,M,1/1/06 0:00,Unknown,Bronx,11201.0,302.0,501.0,BK09,33.0,7.0,26.0,9/27/16,11/6/17
26,22006,ANGEL,M,11/1/03 0:00,Maltese,Bronx,10455.0,201.0,31.0,BX39,8.0,15.0,29.0,6/21/15,7/18/16
27,89373,ONYX,M,4/1/15 0:00,Maltese,Bronx,10454.0,201.0,23.0,BX39,8.0,15.0,29.0,7/20/16,7/20/18
28,116,SNOOPY,M,6/1/12 0:00,Unknown,Bronx,10454.0,201.0,2701.0,BX39,8.0,15.0,29.0,9/18/14,9/6/19
29,388,CYPHA,M,10/1/06 0:00,Unknown,Bronx,10452.0,204.0,195.0,BX63,8.0,15.0,29.0,10/11/14,3/17/17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121906,115617,TUFF,M,8/1/05 0:00,Pekingese,Staten Island,10309.0,NaN,NaN,NaN,NaN,NaN,NaN,11/18/16,1/31/17
121907,115663,SIMBA,M,10/1/13 0:00,American Pit Bull Mix / Pit Bull Mix,Staten Island,10312.0,NaN,NaN,NaN,NaN,NaN,NaN,11/19/16,11/19/17
121908,116016,ZEKE,M,6/1/10 0:00,Unknown,Staten Island,10314.0,NaN,NaN,NaN,NaN,NaN,NaN,11/21/16,1/5/18
121909,116541,HARLEY,M,10/1/08 0:00,Maltese,Staten Island,10312.0,NaN,NaN,NaN,NaN,NaN,NaN,11/26/16,12/30/17
121910,117337,NIKKO,M,5/1/11 0:00,Chihuahua,Staten Island,10314.0,NaN,NaN,NaN,NaN,NaN,NaN,12/2/16,12/3/17
121911,118026,AVA,F,1/1/08 0:00,"Schnauzer, Miniature",Staten Island,10306.0,NaN,NaN,NaN,NaN,NaN,NaN,12/6/16,12/29/17
121912,118875,METTRY,M,9/1/16 0:00,Shih Tzu,Staten Island,10312.0,NaN,NaN,NaN,NaN,NaN,NaN,12/9/16,12/9/17
121913,119826,GINO,M,1/1/08 0:00,German Shepherd Crossbreed,Staten Island,10307.0,NaN,NaN,NaN,NaN,NaN,NaN,12/15/16,1/14/18
121914,119874,LEMON,M,4/1/16 0:00,Siberian Husky,Staten Island,10308.0,NaN,NaN,NaN,NaN,NaN,NaN,12/15/16,12/15/17
121915,119974,OCHS,F,10/1/16 0:00,Shih Tzu,Staten Island,10304.0,NaN,NaN,NaN,NaN,NaN,NaN,12/16/16,12/16/17
121916,120110,SUIRIDOVSKY,M,10/1/16 0:00,Shih Tzu,Staten Island,10308.0,NaN,NaN,NaN,NaN,NaN,NaN,12/17/16,12/17/17
121917,120316,SASHA,F,4/1/15 0:00,Pomeranian Crossbreed,Staten Island,11967.0,NaN,NaN,NaN,NaN,NaN,NaN,12/19/16,12/19/17
121918,120397,THORBABY,M,9/1/07 0:00,German Shepherd Dog,Staten Island,10312.0,NaN,NaN,NaN,NaN,NaN,NaN,12/19/16,10/22/17
121919,120738,P.J.,F,8/1/09 0:00,Pug,Staten Island,10309.0,NaN,NaN,NaN,NaN,NaN,NaN,12/21/16,1/4/18
121920,121049,NAME,M,8/1/16 0:00,Beagle,Staten Island,10314.0,NaN,NaN,NaN,NaN,NaN,NaN,12/24/16,12/24/17
121921,121314,BELLA,F,12/1/15 0:00,Chihuahua Crossbreed,Staten Island,10312.0,NaN,NaN,NaN,NaN,NaN,NaN,12/27/16,12/27/18
121922,121460,ROXIE,F,9/1/14 0:00,Maltese Crossbreed,Staten Island,10314.0,NaN,NaN,NaN,NaN,NaN,NaN,12/28/16,1/5/18
121923,121464,ROCKY,M,3/1/13 0:00,Boxer,Staten Island,10314.0,NaN,NaN,NaN,NaN,NaN,NaN,12/28/16,9/21/17
121924,121470,MORGAN,F,6/1/07 0:00,American Pit Bull Mix / Pit Bull Mix,Staten Island,10314.0,NaN,NaN,NaN,NaN,NaN,NaN,12/28/16,2/18/18
121925,121478,KOBE,M,10/1/16 0:00,Shiba Inu,Staten Island,10312.0,NaN,NaN,NaN,NaN,NaN,NaN,12/28/16,12/28/17
121926,121550,APOLLO,M,8/1/16 0:00,American Pit Bull Mix / Pit Bull Mix,Staten Island,10314.0,NaN,NaN,NaN,NaN,NaN,NaN,12/28/16,12/28/17
121927,121933,BAILEY,M,9/1/03 0:00,Yorkshire Terrier,Staten Island,10312.0,NaN,NaN,NaN,NaN,NaN,NaN,12/29/16,1/30/18
121928,122106,HENRY,M,1/1/04 0:00,Unknown,Staten Island,10312.0,NaN,NaN,NaN,NaN,NaN,NaN,12/30/16,12/30/17
121929,56268,BINKY,M,10/1/14 0:00,Yorkshire Terrier,Staten Island,10305.0,501.0,8.0,SI37,49.0,11.0,23.0,3/1/16,3/1/17
121930,17477,CHLOE,F,1/1/09 0:00,"Poodle, Toy",Manhattan,32163.0,NaN,NaN,NaN,NaN,NaN,NaN,5/15/15,6/12/17
121931,113760,CODY,M,3/1/09 0:00,German Shepherd Dog,Queens,11377.0,402.0,235.0,QN31,26.0,14.0,12.0,11/10/16,10/19/17
121932,116280,LAYLA,F,7/1/13 0:00,Unknown,Queens,11377.0,402.0,245.0,QN63,26.0,14.0,12.0,11/23/16,10/8/17
121933,58781,SNOOPY,M,4/1/14 0:00,Cocker Spaniel,Queens,11377.0,401.0,163.0,QN70,26.0,14.0,13.0,3/15/16,3/15/18
121934,61478,PRIMO,M,12/1/15 0:00,Poodle Crossbreed,Queens,11377.0,402.0,251.0,QN63,26.0,14.0,12.0,3/27/16,3/27/17
121935,51790,BLU \tM\t10/01/2015\t1\tMaltese\tBronx\t10473\...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
br = dogs.groupby("Borough")['RowNumber'].count()

In [46]:
br

Borough
Bronx            12613
Brooklyn         30351
Manhattan        42607
Queens           25139
Staten Island    11155
Name: RowNumber, dtype: int64

In [7]:
# count = br.values

In [8]:
# count

In [9]:
# boroughs = br.index.values

In [10]:
# count = count.tolist()

In [11]:
# count

In [12]:
# boroughs = boroughs.tolist()

In [13]:
# array = list(zip(boroughs, count))

In [14]:
# array

In [15]:
# type(array)

In [16]:
# dt = np.dtype('str,int')
# spp = np.asarray(array,dt)

In [17]:
# spp

In [18]:
# map = bqplot.topo_load("/Users/erikaweir/Downloads/boroughs_map.json")

In [19]:
# sc_geo = bqplot.AlbersUSA()

In [47]:
br
br = br.sort_values()

In [48]:
import bqplot.market_map

In [49]:
x_sc, y_sc = bqplot.OrdinalScale(), bqplot.OrdinalScale() # note, just a different way to call things
c_sc = bqplot.ColorScale(scheme="Blues")

c_ax = bqplot.ColorAxis(scale = c_sc, orientation = 'vertical')


import matplotlib.cm as cm
cmap = cm.Blues

mmap = bqplot.market_map.MarketMap(color = br.values, 
                                  names = br.index.values,
                                  scales={'color':c_sc}, 
                                   axes=[c_ax],
                                   )

# label = ipywidgets.Label()
# # link to market map
# def get_data(change):
#     # (3.1)
#     #print(change['owner'].selected)
#     # (3.2) loop
#     v = 0.0 # to store total value
#     for s in change['owner'].selected:
#         v += br.values
#     if v > 0: # in case nothing is selected
#         # what are we printing?
#         l = 'Number of dogs' + \
#         br[0]+ \
#         ' = ' + str(v[0]) # note: v is by default an array
#         label.value = l 
    
# mmap.observe(get_data,'selected')
    
#mmap

# (3)
ipywidgets.VBox([mmap])

VBox(children=(MarketMap(axes=[ColorAxis(orientation='vertical', scale=ColorScale(scheme='Blues'))], color=arrâ€¦

In [23]:
# #MARKET MAP
# x = dogs['Borough']


# # find unique things
# xnames = x.unique()


# x_sc, y_sc = bqplot.OrdinalScale(), bqplot.OrdinalScale() # note, just a different way to call things
# c_sc = bqplot.ColorScale(scheme="Blues")

# c_ax = bqplot.ColorAxis(scale = c_sc, orientation = 'vertical')


# mySelectedLabel = ipywidgets.Label()

# def get_data_value(change):
#     i,j = change['owner'].selected[0]
    
#     # if we run with this, our label is the 20 elements
#     #v = data[i,j] # grab data value
    
#     # but,lets sum instead
#     v = data[i,j].sum() # grab data value
#     mySelectedLabel.value = str(v)
    
# mmap = bqplot.market_map.MarketMap(color = br.values, 
#                                   names = br.index.values,
#                                   scales={'color':c_sc},
#                                    axes=[c_ax],
#                                    interactions = {'click': 'select'}, 
#                                    selected_style = {'opacity': 1.0},
#                                    unselected_style = {'opacity': 0.8},
#                                   title = 'NYC Boroughs by Dogs')  

# mmap.observe(get_data_value, 'selected')


# #BAR CHART

# #scales
# x_scl = bqplot.OrdinalScale()
# y_scl = bqplot.LinearScale()

# #axes
# x_axis = bqplot.Axis(scale=x_scl, label='Breed')
# y_axis = bqplot.Axis(scale=y_scl, orientation='vertical',label='Number of Dogs', )

# axes_options = {'x': {'label': 'X'}, 'y': {'label': 'Y'}}

# i,j= 0,0
# # mask2 = (x.values == xnames[i])
# #feet_mask = buildings['Square Footage'][mask2]

# #years = sorted(set(years))

# dogbreeds = dogs.groupby('BreedName')['RowNumber'].count()
# dogbreeds = dogbreeds.sort_values()
# breed_number = dogbreeds.values
# breeds = dogbreeds.index.values

# bars = bqplot.Bars(x=breeds, y=breed_number, axes_options=axes_options)

# fig_bar = bqplot.Figure(marks = [bars], scales= axes= [x_axis, y_axis], title= 'Most Popular Dog Breed')
 

# ipywidgets.VBox([mySelectedLabel, ipywidgets.HBox([mmap,fig_bar])])

In [24]:
# x_scl = bqplot.OrdinalScale()
# y_scl = bqplot.LinearScale()

# #axes
# x_axis = bqplot.Axis(scale=x_scl, label='Breed')
# y_axis = bqplot.Axis(scale=y_scl, orientation='vertical',label='Number of Dogs', )

# axes_options = {'x': {'label': 'X'}, 'y': {'label': 'Y'}}


# dogbreeds = dogs.groupby('BreedName')['RowNumber'].count()
# dogbreeds = dogbreeds.sort_values()
# dogbreeds = dogbreeds.nlargest(n=5)
# breed_number = dogbreeds.values
# breeds = dogbreeds.index

# bars = bqplot.Bars(x=breeds, y=breed_number, scales={'x': x_scl, 'y': y_scl}, axes_options=axes_options)

# fig_bar = bqplot.Figure(marks = [bars], axes= [x_axis, y_axis], title= 'Most Popular Dog Breeds')
 

# ipywidgets.VBox([mySelectedLabel, ipywidgets.HBox([mmap,fig_bar])])

In [52]:
#MARKET MAP

#scales
x_sc, y_sc = bqplot.OrdinalScale(), bqplot.OrdinalScale() # note, just a different way to call things
c_sc = bqplot.ColorScale(scheme="Blues")

#axes
c_ax = bqplot.ColorAxis(scale = c_sc, orientation = 'vertical')


import matplotlib.cm as cm
cmap = cm.Blues

mmap = bqplot.market_map.MarketMap(color = br.values, 
                                  names = br.index.values,
                                  scales={'color':c_sc},
                                   axes=[c_ax],
                                   title = 'NYC Boroughs by Dogs')
mySelectedLabel = ipywidgets.Label()

def get_data_value(change):
    i = change['new'][-1:][0]
    v = br[i]
    mySelectedLabel.value = 'Borough = ' + str(i) + ', Number of Dogs =' + str(v) 
    
mmap.observe(get_data_value, 'selected')


#BAR GRAPH

#scales
x_scl = bqplot.OrdinalScale()
y_scl = bqplot.LinearScale()

#axes
x_axis = bqplot.Axis(scale=x_scl, label='Breed', tick_rotate = 10, tick_style = {'font-size': 10}
                    )
y_axis = bqplot.Axis(scale=y_scl, orientation='vertical', label='Number of Dogs')

axes_options = {'x': {'label': 'X'}, 'y': {'label': 'Y'}}

i = 'Manhattan'
mask = (dogs['Borough'] == i)

dogbreeds = dogs[mask]
dogbreeds = dogbreeds.groupby('BreedName')['RowNumber'].count()
dogbreeds = dogbreeds.sort_values()
dogbreeds = dogbreeds.nlargest(n=5)
breed_number = dogbreeds.values
breeds = dogbreeds.index

bars = bqplot.Bars(x=breeds, y=breed_number, scales={'x': x_scl, 'y': y_scl}, axes_options=axes_options)


fig_bar = bqplot.Figure(marks = [bars], axes= [x_axis, y_axis], 
                        title= 'Most Popular Dog Breeds')


def get_data_value2(change):
    i = change['new'][-1:][0]
    mask = (dogs['Borough'] == i)
    dogbreeds = dogs[mask]
    dogbreeds = dogbreeds.groupby('BreedName')['RowNumber'].count()
    dogbreeds = dogbreeds.sort_values()
    dogbreeds = dogbreeds.nlargest(n=5)
    breed_number = dogbreeds.values
    breeds = dogbreeds.index
    bars.x=breeds
    bars.y=breed_number
    

mmap.observe(get_data_value2, 'selected')


ipywidgets.VBox([mySelectedLabel, ipywidgets.HBox([mmap,fig_bar])])

VBox(children=(Label(value=''), HBox(children=(MarketMap(axes=[ColorAxis(orientation='vertical', scale=ColorScâ€¦

In [70]:
#br

In [71]:
#br.values

In [72]:
#br.index.values